.gocache/*

# Local logs
*.log
*.pyc

# Build artifacts and binaries
*.exe
*.test
*.out

# Example binaries
examples/helloworld/greeter_client/greeter_client
examples/helloworld/greeter_server/greeter_server
examples/helloworld_shm/greeter_client/greeter_client
examples/helloworld_shm/greeter_server/greeter_server
examples/route_guide_shm/client/client
examples/route_guide_shm/server/server
examples/shm_server_usage/shm_server_usage

# Benchmark binaries
benchmark/shmemtcp/shmemtcp_bench
benchmark/shmemtcp/out/*.png
internal/transport/transport.test
transport.test
shm.test.exe
